---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Reviews from '../components/Reviews.astro';
import Appointment from '../components/Appointment.astro';
import Articles from '../components/Articles.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import CookieBanner from '../components/CookieBanner.astro';
---

<Layout 
  title="Psychoterapeuta Wieliczka - Magdalena Hossadyna"
  description="Szukasz wsparcia? Magdalena Hossadyna - certyfikowany psychoterapeuta w Wieliczce. Oferuję terapię poznawczo-behawioralną w gabinecie i online. Umów wizytę."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Reviews />
    <Appointment />
    <Articles />
    <Contact />
  </main>
  <Footer />
  <CookieBanner />
</Layout>
